apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gcactivities
rules:
  - apiGroups:
      - jenkins.io
    resources:
      - environments
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - jenkins.io
    resources:
      - plugins
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
      - services
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
